<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>node.js example for Uncorked Studios</title>
  <meta name="description" content="">
  <meta name="author" content="Steven E. Newton">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/ico" href="images/favicon.ico">

  <!-- Javascript things
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="js/sutils.js"> </script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 16%">
        <h4>Sample node.js Application for Uncorked Studios</h4>
        <p>Hello, <a href="https://uncorkedstudios.com/">Uncorked Studios</a>!</p>
          <p id="quip"></p>
          <script>
            quip();
          </script>
          <input class="button-primary" type="button" value="fresh quip" onclick="quip()">
          <p><a href="https://github.com/cratermoon/node_cal">Code for this site/application</a></p> 
      </div>
      <div class="one-half column" style="margin-top: 16%">
        <div class="image-wrapper" id="image-wrapper-div">
          <figure id="image" class="u-max-full-width flickr-wrapper"></figure>
          <p id="scmeasurement" class="image-overlay" style="display: none;">42 cpm</p>
        </div>
          <script>
            flickrimg();
          </script>
      </div>
    </div>
      <div class="row">
        <div class="eight columns"><hr></div>
        <div class="four columns">
          <footer>
            <p class="u-pull-right">Designed with Skeleton. <a href="http://getskeleton.com/">Get Skeleton</a></p>
          </footer>
        </div>
      </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
